body {
    background-color: hsl(194, 100%, 75%);
    font-family: sans-serif;
    text-align: justify;
}

h1 {
    color: hsl(249, 84%, 25%);
    font-size: 250%;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    background-color: hsl(0, 0%, 79%);
    color: hsl(249, 84%, 25%);
    font-size: 200%;
    text-decoration: underline;
}

h3 {
    background-color: hsl(71, 91%, 64%);
    color: hsl(0, 0%, 0%);
    font-size: 130%;
    font-style: italic;
}

p {
    background-color: hsl(200, 15%, 75%);
}

em {
    color: hsl(0, 100%, 27%);
    font-style: normal;
    font-weight: bold;
}

strong {
    color: hsl(300, 100%, 24%);
    font-style: italic;
    font-weight: bold;
}

address {
    background-color: white;
    font-weight: bold;
    text-align: right;
}